* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  min-height: 0;

  font-family: Hack, Arial, sans-serif;
  font-size: 16px;
}

window#waybar {
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: transparent;
  color: #fff;
  /* transition-property: background-color; */
  /* transition-duration: 0.5s; */
}

/* window#waybar.hidden { */
/*   opacity: 0.4; */
/* } */

#workspaces button {
  /* background-color: rgba(16, 32, 64, 0.4); */
  background-color: rgba(16, 32, 64, 0.8);
  margin-right: 5px;
}

#workspaces button.urgent {
  background-color: #f64;
}

#workspaces button.focused {
  /* background-color: rgba(16, 64, 64, 0.4); */
  background-color: rgba(16, 64, 64, 0.8);
}

label {
  padding: 0 10px;
  color: #fff;
}

.modules-left label {
  margin-right: 5px;
}

.modules-right label {
  margin-left: 5px;
}


@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}


#window {
  background-color: rgba(0, 0, 0, 0.8);
}

#clock {
  /* background-color: rgba(16, 32, 64, 0.4); */
  background-color: rgba(16, 32, 64, 0.8);
}

#battery {
  /* background-color: rgba(16, 64, 64, 0.4); */
  background-color: rgba(16, 64, 64, 0.8);
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #26a65b;
}

#battery.critical:not(.charging) {
  background-color: #f64;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  /* background-color: rgba(16, 32, 64, 0.4); */
  background-color: rgba(16, 32, 64, 0.8);
}

#memory {
  /* background-color: rgba(16, 64, 64, 0.4); */
  background-color: rgba(16, 64, 64, 0.8);
}

#network {
  /* background-color: rgba(16, 64, 64, 0.4); */
  background-color: rgba(16, 64, 64, 0.8);
}

#network.disconnected {
  background-color: #777;
}

#pulseaudio {
  /* background-color: rgba(16, 32, 64, 0.4); */
  background-color: rgba(16, 32, 64, 0.8);
}

#pulseaudio.muted {
  background-color: #444;
}

#temperature {
  /* background-color: rgba(16, 32, 64, 0.4); */
  background-color: rgba(16, 32, 64, 0.8);
}

#temperature.critical {
  background-color: #eb4d4b;
}
